flet==0.21.2
python-dotenv==1.0.1
mysql-connector-python==8.3.0
aiogram==3.4.1
docxtpl==0.16.8
APScheduler==3.10.4
qrcode==7.4.2
django-qrcode==0.3
requests==2.31.0
convertapi==1.8.0
xlrd==1.2.0
transliterate==1.10.2
pypdf==4.2.0
redis==5.0.4
schedule==1.2.1